    <form class="centered" ng-controller="UserController as user">
    <div class ="form-group">
        <label for="exampleEmail">Email</label>
        <input class="form-control" type="text" name="email" placeholder="{{user.usernames.email}}">
        <label for="examplePassword">Password</label>
        <input class="form-control" type="password" name="password" placeholder="{{user.usernames.password}}">
        <p>{{user.description}}</p>
        <button class="button" ng-show="user.usernames.signin"> <a ui-sref="order" ui-sref-active="active">login</a> </button>
    </div>
    </form>