
<div class="container" ng-controller="placeOrderCtrl">
	<h1 class="center-text">Place Your Order</h1>
  <form>
  	<legend>Customer Information</legend>
    <div class="field half">
      <label for="surname">First name</label>
      <input type="text" id="surname"/>
    </div>
    <div class="field half last">
      <label for="name">last name</label>
      <input type="text" id="name"/>
    </div>
    <div class="field tnb">
      <label for="email">Address</label>
      <input type="email" id="email"/>
    </div>
    <div class="field half">
      <label for="surname">Unit #</label>
      <input type="text" id="surname"/>
    </div>
    <div class="field half">
      <label for="surname">City</label>
      <input type="text" id="surname"/>
    </div>
    <div class="field half">
      <label for="surname">State</label>
      <input type="text" id="surname"/>
    </div>
    <div class="field half">
      <label for="surname">Zip Code</label>
      <input type="text" id="surname"/>
    </div>
    <button class="button" >Place Order</a> </button>
  </form>
</div>